body{
    margin:0;
    background-color: rgba(193, 236, 222, 0.555);

}

.header{
    overflow: auto;
    display: flex;
    background-color:rgb(193, 236, 222);
    align-items: center;
    padding-left: 15px;
    padding-right: 10px;
    padding-top:20px;
    padding-bottom: 20px;
}

.header a{
    float: left;
    color: black;
    font-size: 25px;
    font-family: "Flamenco";
    margin-left: 15px;
}

.header a:hover{
    background-color:rgba(122, 133, 233, 0.705);
    border-radius: 4px;
}

.header a.active{
    background-color:rgba(122, 133, 233, 0.705);
}

.header-contact{
    margin-left: auto
}

.landing-page{
    padding: 10px;
}

.pic{
    display: block;
    margin: auto;
    width: 300px;
    padding-top:15px;
    background: #ffffff;
    border-radius: 50%;
}

.home-logo{
    width:55px;
    height: 55px;
    padding-top:3px;
    background: #ffffff;
    border-radius: 50%;
}

.logo{
    width:35px;
    height:35px;
}

.resume-section-content{
    margin-left: 10px;
    margin-right: 10px;
}

.i-love-to-code{
    font-size: 30px;
    font-family: "Flamenco";
    text-align: center;
    margin:0;
}

.hi{
    display: inline;
    font-size: 50px;
    font-family: "Bad Script";
}

.im{
    display: inline;
    font-size: 40px;
    font-family: "Bad Script"; 
}

.emphasized-words{
    display: inline;
    font-family: "Bad Script";
    font-size: 115px;
    text-transform: uppercase;
    margin:0;
}

.landing-page-emphasis{
    text-align: center;
    margin:0;
    padding:0;
}

.about-me{
    display: block;
}

.subject{
    font-family: "Flamenco";
    font-size: 40px;
    padding: 15px;
    margin-top: 3%;
    margin-left: 1%;
}

.subheading{
    font-family: "Flamenco";
    font-size: 25px;
    padding-left: 40px;
    margin-top: 5%;
    margin-bottom: 3%;
}

.body-words{
    font-size: 20px;
    font-family: "Raleway";
    margin: 15px;
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.table-skills{
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    font-family: "Raleway";
    margin-bottom: 3%;
}

td{
    padding:15px;
}

.star{
    color:rgb(223, 196, 47);
}

.project-img{
    width:350px;
}

.project-img-tall{
    height:230px;
}

.project-showcase{
    margin-left:20%;
    align-items: center;
    text-align: center;
    border
}

.project-table{
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    font-family: "Raleway";
    margin-bottom: 3%;
    background-color:rgba(95, 158, 160, 0.582);
}

.project-description{
    font-family: "Raleway";
    font-weight: 100;
    font-size: 17px;
    width:100%;
}

.language{
    font-family: "Bad Script";
    font-size:18px;
    text-align: right;
    margin-left:40%;
}

.project-title{
    font-family: "Flamenco";
    font-size: 30px;
    margin-top: 5%;
    margin-bottom: 3%;
    text-align: left;
}

.demo-link{
    background-color: black;
    color:white;
    padding:10px;
    margin-right: 20px;
    border-radius: 4px;
}

.demo-link:hover{
    background-color: #ffffff;
    color: black;
}

.project-links{
    display: flex;
    align-items: center;
}

.logo-large{
    width: 60px;
    height:60px;
}

