body{
    margin:0;
    background-color: rgba(193, 236, 222, 0.555);

}

.header{
    overflow: auto;
    display: flex;
    background-color:rgb(193, 236, 222);
    align-items: center;
    padding-left: 15px;
    padding-right: 10px;
    padding-top:20px;
    padding-bottom: 20px;
}

.header a{
    float: left;
    color: black;
    font-size: 25px;
    font-family: "Flamenco";
    margin-left: 15px;
}

.header a:hover{
    background-color:rgba(122, 133, 233, 0.705);
    border-radius: 4px;
}

.header a.active{
    background-color:rgba(122, 133, 233, 0.705);
}

.header-contact{
    margin-left: auto
}

.landing-page{
    padding: 10px;
}

.pic{
    display: block;
    margin: auto;
    width: 300px;
    padding-top:15px;
    background: #ffffff;
    border-radius: 50%;
}

.home-logo{
    width:55px;
    height: 55px;
    padding-top:3px;
    background: #ffffff;
    border-radius: 50%;
}

.logo{
    width:35px;
    height:35px;
}

.resume-section-content{
    margin-left: 10px;
    margin-right: 10px;
}

.i-love-to-code{
    font-size: 30px;
    font-family: "Flamenco";
    text-align: center;
    margin:0;
}

.hi{
    display: inline;
    font-size: 50px;
    font-family: "Bad Script";
}

.im{
    display: inline;
    font-size: 40px;
    font-family: "Bad Script"; 
}

.table-skills{
    text-align: left;
    font-size: 20px;
    font-family: "Raleway";
}

.emphasized-words{
    display: inline;
    font-family: "Bad Script";
    font-size: 115px;
    text-transform: uppercase;
    margin:0;
}

.landing-page-emphasis{
    text-align: center;
    margin:0;
    padding:0;
}

.about-me{
    display: block;
}

.subject{
    font-family: "Flamenco";
    font-size: 40px;
    padding: 15px;
    margin-top: 5%;
}

.subheading{
    font-family: "Flamenco";
    font-size: 25px;
    padding-left: 40px;
}

.inside-table{
    vertical-align: top;
    padding:0;
    margin:0;
}

.body-words{
    font-size: 20px;
    font-family: "Raleway";
    margin: 15px;
}